* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background: linear-gradient(0deg,white,grey,rgb(160, 159, 159));
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    padding: 10px 20px; /* Espacio alrededor del contenido del header */
    background:linear-gradient(0deg,rgb(160, 159, 159),grey,rgb(20, 20, 20));
    color: #fff; /* Color del texto */
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Posición vertical en la parte superior */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    z-index: 1000; /* Asegura que el header esté encima del contenido */
}

header h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

header nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    display: flex; /* Alinea los elementos de la lista horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos dentro del ul */
}

header nav li {
    margin-left: 15px; /* Espacio entre los elementos del menú */
}

header nav a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #fff; /* Color del texto del enlace */
}


header nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
